@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: url('./components/images/fundo.jpg');
}

.Grupo{
  margin-bottom: 2px;
}

.Lista{
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  color: #fff;
}

.Titulo > h1{
  margin-top: 0px;
}

.Quadradao{
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  padding: 40px;
}

.Titulo{
  display: flex;
  font-weight: bold;
  justify-content: center;
  
}

.Disciplina > h3, .Professora > h3{
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 10px 0 0px 0;
}

strong{
  margin-right: 5px;
}